@import 'tailwindcss';
@import '../../vendor/power-components/livewire-powergrid/resources/css/tailwind4.css';
@import "flatpickr/dist/flatpickr.min.css";
@import '../../vendor/wireui/wireui/ts/global.css';

@custom-variant dark (&:where(.dark, .dark *));

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@source '../../app/Livewire/*Table.php';
@source '../../app/Livewire/**/*Table.php';

@source '../../vendor/power-components/livewire-powergrid/src/Themes/Tailwind.php';
@source '../../vendor/power-components/livewire-powergrid/resources/views/**/*.php';

@source '../../vendor/wireui/wireui';
